body{
    background-color: lightblue;
}

/* Background */
#ex1{
    background-color: aqua;
    opacity: 0.4;
}

#ex2{
    background-color: rgba(255,255,0,0.2);
    color: hsla(0, 100%, 50%, 1);
}

#ex3{
    /* Text */
    color: white;
    text-align: center;
    font-family: serif;
    font-size: xx-large;
    /*End text */
    align-content: center;
    background-image: url("./images/small-flowers1.jpg");
    width: 500px;
    height: 500px;
    /* background-repeat: repeat; */
    /* background-repeat: repeat-x; */
    /* background-repeat: repeat-y; */
    background-color: aqua;
    background-repeat: no-repeat;
    /* background-position: right left;; */
    /* background-attachment: fixed; */
    /* background-attachment: scroll|fixed|local|initial|inherit; */
}

#ex4{
    background: #f60 url("./images/maçaranduba1.jfif") no-repeat right top;
    width: 750px;
    height: 550px;
}

/*End background */

/* border : dotted, dashed, solid, double, groove, ridge, inset, outset, none, hidden */
/* boder-width: medium thick*/
/* border-color: name, hex, rgb, hls.*/
/* border-style or border-top|right|botton|left-style */

#ex5{
    margin: 20px;
    padding: 20px;
    border: 20px solid dodgerblue;
    background-color: brown;
    color: white;
    max-width: 600px;
    height: 200px;
    align-content: center;
    text-align: center;
    font-size: 10vw;
}

#ex6{
    margin: 20px;
    outline: 10px groove blueviolet;
    outline-offset: 10px;
    border: 1px dotted black;
    /* outline-color: blueviolet; */
    /* outline-style: groove; */
    /* outline-width: thick; */
    /* outline-width: 10px; */
    /* outline-width: thin; */
    /* outline-width: medium; */
}

#ex7{
    color:crimson;
    text-align: justify;
    text-align-last: right;
    /* text-decoration: underline; */
    /* text-decoration: line-through; */
    /* text-decoration: overline; */
    /* text-decoration-style: wavy; */
    /* text-decoration-color: orange; */
    /* text-decoration-thickness: 4px; */
    text-decoration: line-through rgba(255, 200, 0, 0.5) wavy 3px;
    text-transform: uppercase;
    /* text-transform: capitalize; */
    /* text-transform: lowercase; */
}

#ex8{
    letter-spacing: 3px;
    line-height: 2;
    text-indent: 20px;
    /* white-space: nowrap; */
    word-spacing: 20px;
}

#ex9{
    font-size: xx-large;
    /* font-style: italic; */
    /* font-style: oblique; */
    /* font-weight: normal; */
    /* font-weight: lighter; */
    /* font-weight: bolder; */
    /* font-weight: bold; */
    /* font-variant: small-caps; */
}

#p1{
    font-family: serif;
}
#p2{
    /* font-family: sans-serif; */
    font-family: cursive;
}
#p3{
    /* font-family: monospace; */
    font-family: fantasy;
}

#ex10{
    font-family: Sofia;
    font-size: 5vw;
    text-transform: capitalize;
}

#ex11{
    font: oblique bold 30px/1.5 'Times new roman', serif;
}